body {
background-color: beige;
}
.foto-1 {
    width:200px;
}



body {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a i {
    color: beige;
    font-size: 2em;
    padding: 0.5em;
}
header nav ul {
    display: flex;
    gap: 1.2em;
}

header nav ul li a {
    color: beige;
}

ul {
    margin-right: 30px;
}

header a {
    margin-left: 10px;
}

.seccion-1 {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;


}

.acerca-de {
    text-align: right;
    padding: 2em;
    width: 30%;

}

.acerca-imagen {
    text-align: left;
}

.seccion-2 img {
    width: 100%;
}

#footer {
    padding: 1em;
}

footer {
    background-color: black;
    width: 100%;
}

#footer h3 {
    color: beige;
}

#footer nav ul li {
    color: beige;
}

#footer li {
    text-decoration: none;
}

/* MENU */ 

#check {
    display: none;
}
.checkbtn {
    font-size: 25px;
    color: beige;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* MEDIA QUERIES*/

@media (max-width: 768px) {
    header {
        background-color: brown;
    }

    .acerca-de {
        text-align: center;

    }

    .acerca-imagen {
        margin-bottom: 40px;
    }

    section div h2 {
        text-align: center;
    }

    .checkbtn {
        display: block;
    }

    #encabezado ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: blue;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all o.5s;
    }


}